@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply min-h-screen bg-background-light dark:bg-background-dark text-zinc-900 dark:text-white;
    min-height: max(884px, 100dvh);
    font-family: 'Space Grotesk', sans-serif;
  }
  
  #root {
    @apply w-full min-h-screen;
  }
}

